.contact {
    padding: 100px 0;
    @media (max-width: 940px) {
        padding: 25px 0;
    }
    @media (max-width: 768px) {
        padding: 50px 0;
    }
    form {
        width: 100%;
    }
    input {
        width: 100%;
    }
    textarea {
        width: 100%;
        min-height: 200px;
    }
    button{
        background-color: #4CC3C1;
        &:hover,
        &:focus {
            background-color: #55D5D3;
            // box-shadow: 6px 9px 24px 0px rgba(76, 195, 193, 0.44);
        }
    }
    h2 {
        /* Landscape phones and down */
        @media (max-width: 480px) {
            text-align: center;
        }
    }
}

.form-item {
    flex-basis: 45%;
    margin-bottom: 25px;
    &:nth-child(3) {
        flex-basis: 100%;
    }
}