h2 {
    margin-bottom: 25px;
}

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.containerColumnCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
}

.hide {
    display: none;
}

button{
    color: $main-ltgrey;
    width: 270px;
    position: relative;
    &::before {
        content: url(../assets/shine.png);
        position: absolute;
        top: 5px;
        left: 7px;
    }
}