article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Varela Round', sans-serif;
  color: #2a2828; }

h1, h2, h3, h4, p, a, ul {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase; }

ul {
  list-style: none; }
  ul li {
    display: inline-block; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #2a2828;
  -webkit-transition: all 1s;
  transition: all 1s; }
  a:visited {
    color: #2a2828; }
  a:hover, a:focus {
    color: #4ac2bf; }

img {
  width: 100%;
  display: block; }

input[type="text"],
input[type="email"],
textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: #f4f6f6;
  border-radius: 30px;
  padding: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

h2 {
  margin-bottom: 25px; }

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
  width: 95%;
  /* Portrait tablet and small desktops */
  /* Landscape phone to portrait tablet */
  /* Landscape phones and down */ }
  @media (max-width: 940px) {
    .wrapper {
      width: 90%; } }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.responsiveContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 768px) {
    .responsiveContainer {
      display: block; } }

.containerColumnCentered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 60%; }
  @media (max-width: 940px) {
    .containerColumnCentered {
      width: 90%; } }

.hide {
  display: none; }

button {
  color: #fcfcfc;
  width: 270px;
  position: relative; }
  button::before {
    content: url(../assets/shine.png);
    position: absolute;
    top: 5px;
    left: 7px; }

nav {
  background-color: #fcfcfc;
  padding: 40px 0; }
  @media (max-width: 768px) {
    nav {
      padding: 15px 0; } }
  nav ul {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    /* Landscape phone to portrait tablet */ }
    @media (max-width: 940px) {
      nav ul {
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%; } }
    @media (max-width: 768px) {
      nav ul {
        visibility: hidden;
        opacity: 0;
        top: -10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
        height: 0;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
  nav a {
    padding: 10px 15px; }
    @media (max-width: 768px) {
      nav a {
        display: block;
        padding: 20px 15px; } }

ul.target {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.logo {
  font-size: 3rem;
  color: #ef5921;
  font-weight: bold; }
  @media (max-width: 768px) {
    .logo {
      display: none; } }

label.toggle {
  display: none; }
  @media (max-width: 768px) {
    label.toggle {
      display: block; } }

.responsiveContainer.visibility {
  visibility: visible;
  opacity: 1;
  top: 15px;
  height: 250px; }

label.hide {
  display: none; }

.aboutMe {
  padding: 125px 0 240px;
  background-color: #2a2828;
  color: white;
  line-height: 3.5rem;
  letter-spacing: 1px;
  position: relative;
  /* Landscape phones and down */ }
  @media (max-width: 768px) {
    .aboutMe {
      padding: 100px 0 200px; } }
  @media (max-width: 480px) {
    .aboutMe {
      padding: 50px 0 75px; } }
  .aboutMe p {
    color: #fcfcfc; }
  .aboutMe img {
    position: absolute;
    /* Landscape phones and down */ }
    @media (max-width: 480px) {
      .aboutMe img {
        display: none; } }
  .aboutMe .monitor {
    max-width: 525px;
    top: 0; }
  .aboutMe .phone {
    max-width: 45px;
    left: 15%;
    top: 55%; }
    @media (max-width: 1200px) {
      .aboutMe .phone {
        top: 67%; } }
    @media (max-width: 768px) {
      .aboutMe .phone {
        left: 5%; } }
  .aboutMe .notebook {
    max-width: 100px;
    left: 25%;
    top: 68%; }
    @media (max-width: 1200px) {
      .aboutMe .notebook {
        display: none; } }
  .aboutMe .pen {
    max-width: 30px;
    left: 32.5%;
    top: 70%; }
    @media (max-width: 1200px) {
      .aboutMe .pen {
        display: none; } }
  .aboutMe .keyboard {
    max-width: 250px;
    bottom: 20px; }
  .aboutMe .mouse {
    max-width: 40px;
    right: 32.5%;
    top: 75%; }
    @media (max-width: 1200px) {
      .aboutMe .mouse {
        display: none; } }
  .aboutMe .cup {
    max-width: 75px;
    right: 15%;
    top: 55%; }
    @media (max-width: 1200px) {
      .aboutMe .cup {
        top: 65%; } }
    @media (max-width: 768px) {
      .aboutMe .cup {
        right: 3%; } }
  .aboutMe button {
    margin-top: 25px;
    background-color: #3CB879; }
    .aboutMe button:hover, .aboutMe button:focus {
      background-color: #46D68D; }

.skill-belt .skill {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 55px 30px 0;
  font-size: 2.4rem;
  color: white;
  min-height: 130px;
  position: relative; }
  @media (max-width: 940px) {
    .skill-belt .skill {
      padding: 20px 20px 0; } }
  @media (max-width: 630px) {
    .skill-belt .skill {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      padding: 20px 10px 10px;
      min-height: 60px;
      text-align: center; } }
  @media (max-width: 1150px) {
    .skill-belt .skill p {
      font-size: 2rem; } }
  @media (max-width: 768px) {
    .skill-belt .skill p {
      font-size: 1.6rem; } }
  .skill-belt .skill p:after {
    z-index: 0;
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.2); }
    @media (max-width: 1150px) {
      .skill-belt .skill p:after {
        font-size: 4.5rem; } }
    @media (max-width: 768px) {
      .skill-belt .skill p:after {
        display: none; } }

.skill-belt .tools {
  background-color: #39b877; }
  @media (max-width: 630px) {
    .skill-belt .tools {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; } }
  .skill-belt .tools p:after {
    content: 'Tools'; }

.skill-belt .html {
  background-color: #f4f6f6; }
  .skill-belt .html p {
    color: black; }
    .skill-belt .html p:after {
      content: 'HTML';
      color: rgba(137, 137, 137, 0.2); }

.css {
  background-color: #4ac2bf; }
  .css p:after {
    content: 'CSS'; }

.js {
  background-color: #ef5921; }
  .js p:after {
    content: 'JS'; }

.react {
  background-color: #f9b037; }
  .react p:after {
    content: 'React'; }

.portfolio {
  padding: 50px 0; }
  .portfolio .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.project {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px; }
  .project:last-child {
    margin-bottom: 0; }
  @media (max-width: 480px) {
    .project {
      margin-bottom: 50px; } }

.project-image {
  padding: 30px 5px;
  background-color: rgba(239, 89, 33, 0.7);
  border-radius: 30px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  max-width: 800px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s; }
  .project-image:hover {
    background-color: #ef5921; }
  @media (max-width: 940px) {
    .project-image {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      margin-bottom: 15px; } }

.project-description {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%; }
  @media (max-width: 940px) {
    .project-description {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      margin-bottom: 15px; } }
  @media (max-width: 480px) {
    .project-description {
      text-align: center; } }
  .project-description h3 {
    font-size: 5rem;
    margin-bottom: 15px; }
    @media (max-width: 768px) {
      .project-description h3 {
        font-size: 3.5rem; } }
    @media (max-width: 480px) {
      .project-description h3 {
        font-size: 3rem; } }
  .project-description button {
    width: 250px;
    background-color: #EBEBEB;
    margin: 15px 15px 0 0;
    color: #2a2828; }
    @media (max-width: 1185px) {
      .project-description button {
        font-size: 1.6rem; } }
    @media (max-width: 480px) {
      .project-description button {
        margin: 15px 0 0; } }
    .project-description button:hover, .project-description button:focus {
      background-color: #F3F3F3; }
    .project-description button a {
      padding: 20px 30px; }

@media (max-width: 940px) {
  .campgenda {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

.campgenda .project-image {
  background-color: rgba(57, 184, 119, 0.7); }

.advisory .project-image {
  background-color: rgba(74, 194, 191, 0.7); }

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px; }
  @media (max-width: 480px) {
    .tags {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .tags .tag {
    padding: 7.5px 10px;
    background-color: #2a2828;
    color: #f4f6f6;
    margin: 0 10px 10PX 0; }
    @media (max-width: 480px) {
      .tags .tag {
        padding: 5px 7.5px; } }

.contact {
  padding: 100px 0; }
  @media (max-width: 940px) {
    .contact {
      padding: 25px 0; } }
  @media (max-width: 768px) {
    .contact {
      padding: 50px 0; } }
  .contact form {
    width: 100%; }
  .contact input {
    width: 100%; }
  .contact textarea {
    width: 100%;
    min-height: 200px; }
  .contact button {
    background-color: #4CC3C1; }
    .contact button:hover, .contact button:focus {
      background-color: #55D5D3; }
  .contact h2 {
    /* Landscape phones and down */ }
    @media (max-width: 480px) {
      .contact h2 {
        text-align: center; } }

.form-item {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-bottom: 25px; }
  .form-item:nth-child(3) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }

footer {
  padding-top: 35px;
  background-color: #2a2828;
  color: #fcfcfc; }
  footer .footer-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Landscape phones and down */ }
    footer .footer-item:nth-child(2) {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    footer .footer-item:nth-child(3) {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      @media (max-width: 768px) {
        footer .footer-item:nth-child(3) {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
    @media (max-width: 768px) {
      footer .footer-item {
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  footer .footer-image {
    max-width: 50px;
    margin-right: 15px; }
  footer .github {
    color: #f4f6f6; }
    footer .github:hover, footer .github:focus {
      color: #4AC2BF; }
  footer .linkedin {
    color: #375797; }
    footer .linkedin:hover, footer .linkedin:focus {
      color: #39B877; }
  footer .twitter {
    color: #53ACEC; }
    footer .twitter:hover, footer .twitter:focus {
      color: #EF5921; }
  footer .social-media {
    padding: 15px 0 10px;
    border-top: 1px solid #787575;
    font-size: 1.2rem;
    color: #787575;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    footer .social-media li {
      margin-left: 15px; }
      @media (max-width: 480px) {
        footer .social-media li {
          margin-left: 5px; } }
