article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Varela Round', sans-serif;
  color: #2a2828; }

h1, h2, h3, h4, p, a, ul {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-transform: uppercase; }

ul {
  list-style: none; }
  ul li {
    display: inline-block; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #2a2828;
  -webkit-transition: all 1s;
  transition: all 1s; }
  a:focus, a:visited {
    color: #2a2828; }

img {
  width: 100%;
  display: block; }

input[type="text"],
input[type="email"],
textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: #f4f6f6;
  border-radius: 30px;
  padding: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

h2 {
  margin-bottom: 25px; }

.wrapper {
  max-width: 1250px;
  margin: 0 auto; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.containerColumnCentered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 60%; }

.hide {
  display: none; }

button {
  color: #fcfcfc;
  width: 270px;
  position: relative; }
  button::before {
    content: url(../assets/shine.png);
    position: absolute;
    top: 5px;
    left: 7px; }

nav {
  background-color: #fcfcfc;
  padding: 40px 0; }
  nav ul {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  nav a {
    padding: 10px 15px; }

.aboutMe {
  padding: 125px 0 240px;
  background-color: #2a2828;
  color: white;
  line-height: 3.5rem;
  letter-spacing: 1px;
  position: relative; }
  .aboutMe p {
    color: #fcfcfc; }
  .aboutMe img {
    position: absolute; }
  .aboutMe .monitor {
    max-width: 525px;
    top: 0; }
  .aboutMe .phone {
    max-width: 45px;
    left: 15%;
    top: 55%; }
  .aboutMe .notebook {
    max-width: 100px;
    left: 25%;
    top: 68%; }
  .aboutMe .pen {
    max-width: 30px;
    left: 32.5%;
    top: 70%; }
  .aboutMe .keyboard {
    max-width: 250px;
    bottom: 20px; }
  .aboutMe .mouse {
    max-width: 40px;
    right: 32.5%;
    top: 70%; }
  .aboutMe .cup {
    max-width: 75px;
    right: 20%;
    top: 55%; }
  .aboutMe button {
    margin-top: 25px;
    background-color: #3CB879; }
    .aboutMe button:hover, .aboutMe button:focus {
      background-color: #46D68D; }

.logo {
  font-size: 3rem;
  color: #ef5921;
  font-weight: bold; }

.skill-belt .skill {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 55px 30px 0;
  font-size: 2.4rem;
  color: white;
  min-height: 130px;
  position: relative; }
  .skill-belt .skill p:after {
    z-index: 0;
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 7rem;
    color: rgba(255, 255, 255, 0.2); }

.skill-belt .html {
  background-color: #f4f6f6; }
  .skill-belt .html p {
    color: black; }
    .skill-belt .html p:after {
      content: 'HTML';
      color: rgba(137, 137, 137, 0.2); }

.css {
  background-color: #4ac2bf; }
  .css p:after {
    content: 'CSS'; }

.js {
  background-color: #ef5921; }
  .js p:after {
    content: 'JS'; }

.react {
  background-color: #f9b037; }
  .react p:after {
    content: 'React'; }

.tools {
  background-color: #39b877; }
  .tools p:after {
    content: 'Tools'; }

.portfolio {
  padding: 50px 0;
  background-color: #FCFCFC; }
  .portfolio .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.project {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.project-image {
  padding: 30px 5px;
  background-color: rgba(239, 89, 33, 0.7);
  border-radius: 30px; }

.campgenda .project-image {
  background-color: #39b877; }

.contact {
  padding: 100px 0; }
  .contact form {
    width: 100%; }
  .contact input {
    width: 100%; }
  .contact textarea {
    width: 100%;
    min-height: 200px; }
  .contact button {
    background-color: #4CC3C1; }
    .contact button:hover, .contact button:focus {
      background-color: #55D5D3; }

.form-item {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-bottom: 25px; }
  .form-item:nth-child(3) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }

footer {
  padding-top: 35px;
  background-color: #2a2828;
  color: #fcfcfc; }
  footer .footer-item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .footer-item:nth-child(2) {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    footer .footer-item:nth-child(3) {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
  footer .footer-image {
    max-width: 50px;
    margin-right: 15px; }
  footer .github {
    color: #f4f6f6; }
    footer .github:hover, footer .github:focus {
      color: #4AC2BF; }
  footer .linkedin {
    color: #375797; }
    footer .linkedin:hover, footer .linkedin:focus {
      color: #39B877; }
  footer .twitter {
    color: #53ACEC; }
    footer .twitter:hover, footer .twitter:focus {
      color: #EF5921; }
  footer .social-media {
    padding: 15px 0 10px;
    border-top: 1px solid #787575;
    font-size: 1.2rem;
    color: #787575;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    footer .social-media li {
      margin-left: 15px; }
